<ion-content padding class="padding-fixed" color="light">
  <style>
    .imgvp {

    width: 65% !important;

}
    </style>
    <header class="login-header" text-center>
        <img src="assets/imgs/logo.png" class="brand">
        <div class="vp" style="    width: 70%;
        margin: 0 auto;
        margin-top: -1%;">
          <img src="assets/imgs/voluntario_patria.png" class="brand imgvp" style="width:100%!important;">

        </div>

        <h3 class="title-white">Seja Bem-Vindo!</h3>
        <div class="block-text">
          <p class="subtitleblue">Antes de seguir, você precisa se identificar</p>
        </div>
    </header>
    <form autocomplete="off" #loginform="ngForm" (ngSubmit)="onLogin(user)">
      <ion-list>
        <ion-item class="input-block-color">
          <ion-input type="email" required color="light" placeholder="Insira seu e-mail" [(ngModel)]="user.username" name="username"></ion-input>
        </ion-item>
      
        <ion-item class="input-block-color">
          <ion-input type="password" required placeholder="Insira sua Senha" [(ngModel)]="user.password"  name="password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full color="light" text-uppercase class="butaoentrar" style="    background: #0276a9;
      color: #fff;
      font-weight: bold;">Entrar</button>
    </form>
    
    <div (click)="goPage('esqueci-senha')" text-center class="link">Esqueci minha senha</div>

    <button ion-button outline full text-uppercase color="light" class="botaologfb" icon-left (click)="loginToFacebook()" style="    color: #0276a9!important;
    font-weight: bold!important;width:100%;"> 
      <img class="ico-general-button" src="assets/imgs/ico-facebook.png" width="9" height="16"> Logar pelo Facebook
    </button>
    <div (click)="goPage('cadastro-tipoperfil')" text-center class="link" style="    color: #509f6a;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;">Cadastre-se!</div>

  
</ion-content>

<ion-footer>
  <ion-toolbar (click)="onHome()" text-center style="color:#fff;background:#0276a9;">
    Ir para <strong style="color:#fff">Home</strong>
  </ion-toolbar>
</ion-footer>
