<ion-header color="header">
  <style>
  .list-md .item-input:last-child{
    border-bottom: 0!important;
  }
  .card-md .item-md.item-block .item-inner {
  border-bottom: 1px solid #fff;
}
.item-input ion-textarea{
  border: 1px solid #dedede;
  margin-bottom: 10%;
  padding: 5%;
}
.alert-title{
  margin-left: 0!important;
}
  </style>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Enviar Participação</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
  <section [ngSwitch]="tab">
      <div *ngSwitchCase="'local'">
        <div class="container-stage">
          <div class="number">1</div>
          <div class="text">
            <strong>Selecione o local</strong>
          </div>
        </div>
        <ion-card>

          <ion-card-content>
              <button ion-button round full icon-left outline (click)="getLocation()" style="border-right-width: 1px;
              border-left-width: 1px;"> <ion-icon name="pin" ></ion-icon> Selecionar minha localização</button>
              <ion-row>
                <ion-col col-5>
                  <ion-item>
                    <ion-label stacked>Estado</ion-label>
                    <ion-select [(ngModel)]="solicitacao.Estado" multiple="false" (ionChange)="onSelectCidade($event)"  [selectOptions]="selectOptEstados" (ionChange)="validaCampos()">
                      <ion-option *ngFor="let estado of estados" [value]="estado.sigla" >{{estado.nome}}</ion-option>
                    </ion-select>
                  </ion-item>
                  <ion-label class="error" *ngIf="erroEstado">Selecione um Estado</ion-label>
                </ion-col>
                <ion-col col-7>
                  <ion-item>
                    <ion-label stacked>Cidade</ion-label>
                    <ion-select [(ngModel)]="solicitacao.Cidade" [selectOptions]="selectOptCidades" (ionChange)="validaCampos()">
                      <ion-option *ngFor="let cidade of cidades" value="{{cidade}}" [attr.selected]="(solicitacao.Cidade == cidade) ? true : null" >{{cidade}}</ion-option>
                    </ion-select>
                  </ion-item>
                  <ion-label class="error" *ngIf="erroCidade">Selecione uma Cidade</ion-label>
                </ion-col>
                <ion-col col-12>
                  <ion-item>
                    <ion-label stacked text-uppercase>Rua</ion-label>
                    <ion-input type="text" [(ngModel)]="solicitacao.Rua" placeholder="Digite o nome da sua rua" (keyup)="validaCampos()"></ion-input>
                  </ion-item>
                  <ion-label class="error" *ngIf="erroRua">Campo Rua obrigatório</ion-label>
                </ion-col>
                <ion-col col-5>
                  <ion-item>
                    <ion-label stacked text-uppercase>Número</ion-label>
                    <ion-input type="number" [(ngModel)]="solicitacao.Numero" (keyup)="validaCampos()"></ion-input>
                  </ion-item>
                  <ion-label class="error" *ngIf="erroNumero">Campo Número obrigatório</ion-label>
                </ion-col>
                <ion-col col-7>
                  <ion-item>
                    <ion-label stacked text-uppercase>Bairro</ion-label>
                    <ion-input type="text" [(ngModel)]="solicitacao.Bairro" (keyup)="validaCampos()"></ion-input>
                  </ion-item>
                  <ion-label class="error" *ngIf="erroBairro">Campo Bairro obrigatório</ion-label>
                </ion-col>
                <ion-col col-12 text-center margin-top>
                    <button ion-button round full (click)="saveLocal()" [style.opacity]="erroPart1"> Continuar</button>
                </ion-col>
              </ion-row>
          </ion-card-content>

        </ion-card>
      </div>
      <div *ngSwitchCase="'categoria'">
        <div class="container-stage">
          <div class="number">2</div>
          <div class="text">
            <strong>Selecione a Categoria</strong>
          </div>
        </div>
        <ul class="list-categories">
          <li (click)="choiceCategorie(categ)" *ngFor="let categ of categorias">
            <img [src]="categ.IconeImagem" *ngIf="categ.IconeImagem" >
            <p>{{categ.Nome}}</p>
          </li>
        
        </ul>
      </div>
      <div *ngSwitchCase="'tipo'">
        <div class="container-stage">
          <div class="number">3</div>
          <div class="text">
            <strong>Selecione o Tipo</strong>
          </div>
        </div>
        <ion-list>
          <ion-card (click)="saveTipe(filha.Id)" *ngFor="let filha of categoriasfilhas">
            <ion-card-content class="flex-card">
              <div>
                <ion-card-title>{{filha.Nome}}</ion-card-title>
              </div>
              <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngSwitchCase="'descricao'">
        <div class="container-stage">
          <div class="number" *ngIf="categoriasfilhas.length != 0">4</div>
          <div class="number" *ngIf="categoriasfilhas.length == 0">3</div>
          <div class="text">
            <strong>Descreva sua Participação</strong>
          </div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item >
                <ion-label stacked text-uppercase>Descrição</ion-label>
                <ion-textarea [(ngModel)]="solicitacao.Texto" (keyup)="validaCampos2()"></ion-textarea>
              </ion-item>
              <ion-label class="error" *ngIf="ErroTexto">Campo Descrição obrigatório</ion-label>
            </ion-list>
            <ion-buttons end>
              <button ion-button icon-left full outline margin-top (click)= "abrirGaleria()" style="border-right-width: 1px;
              border-left-width: 1px;">
                <ion-icon name="image"></ion-icon>
                Escolher uma imagem da galeria
              </button>
              <button ion-button icon-left full outline margin-top color="basegreen" (click)= "abrirCamera()" style="border-right-width: 1px;
              border-left-width: 1px;">
                <ion-icon name="camera"></ion-icon>
                Fotograr
              </button>
            </ion-buttons>
            <div margin-top>
              <button ion-button round full (click)="send()" [style.opacity]="erroParteFinal"> Salvar</button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
  </section>
</ion-content>
