page-noticias-noticia-detalhe {
    ion-slides {
        margin-top: 20px;
    }

    ion-slide {
        padding: 10px 40px 10px 5px;
        ion-card-content {
            height: 120px;
            overflow: hidden;
        }
    }

    .card-ios{
        margin: 12px 0!important;
    }
    .imgshare{
        width:90%;
    }
    .classeheader{
        padding-bottom: 9%!important;
        padding-right:16px!important;

    }
    .classeheader small{
      padding-left: 16px!important;
      padding-top: 16px;
    }
    .vejaoutras{
        padding-left: 16px;
        padding-right: 16px;
        background:#fafafa!important;
    }
    .firstSec{
        padding-left: 16px;
        padding-right: 16px;   
    }

    .card-ios{
        border-radius: 5px!important;
        width: 100%;
    }
}
