page-voluntario {
    .list-md .item-block .item-inner{
        border: 0;
    }

    .list-ios .item-block .item-inner{
        border-bottom: 0;
    }
    .item-md{
        padding: 2% 4% !important;
        margin-bottom: 20px!important;

    }
    .label-md {
        margin: 13px 0 13px 0;
        padding: 0;
    }
    ion-list{
        margin: 7% 0%!important;
        ion-item{
            background: #ffffff!important;
            padding: 3% 6% !important;
            border-radius: 10px!important;
            margin-bottom: 20px!important;
            ion-avatar{
                width: 60px!important;
                border: 0 solid #ccc;
                border-radius: 0%;
                min-height: 35px!important;
                margin: 5px 14px 5px 0 !important;
                img{
                    width: 100%!important;
                    height: auto!important;
                }
            }
            ion-label{
                text-overflow: inherit;
                overflow: inherit;
                white-space: inherit;
            }
            h2{
                text-align: left;
                color: #333333!important;
                margin-top: 0!important;
                font-size: 1.6rem !important;
                font-weight: bold!important;
                margin-bottom: 10px!important;
            }
            ion-icon{
                position: absolute;
                right: 7%;
                top: 27%;
                font-size: 2.2em;
                font-size: 3rem;
                color: #666666;
                margin-left: 10px;
            }
        }
    }
}


indique-amigos {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    header {
        border-bottom: 1px solid #e9e9e9;
    }
    .container-round {
        background: #ffffff;
        border-radius: 10px;
        padding: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        h2 {
            font-weight: bold;
        }
        ion-list {
            overflow: auto;
        }
    }
    ion-avatar {
        position: relative;
        ion-icon {
            position: absolute;
            right: -2%;
            bottom: 0;
        }
    }
    .button {
        font-weight: bold;
        ion-icon {
            margin-right: 5px;
        }
    }
    .title {
        font-size: 1.4rem;
        line-height: 1.4;
        color: black;
    }
}