page-perfil {
    ion-segment {
        &.wrap {
            ion-segment-button {
                overflow: visible;
                white-space: initial;
                line-height: 1.8rem !important;
                font-size: 1.2rem !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    [col-12]{
        padding: 0;
    }
    .avatar-change {
        text-align: center;
        .avatar {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
        span {
            background: color($colors, primary);
            padding: 5px 10px;
            text-transform: uppercase;
            color: white;
            font-size: 1rem;
            top: -20px;
            border-radius: 20px;
            position: relative;
        }
    }
    .scroll-content {
        background: #fff;
    }
}
