social-share-material {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: absolute;
        bottom: 10%;
        .box {
            background: #ffffff;
            border-radius: 10px;
            padding: 25px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .icon-social {
                display: inline-block;
                margin: 0.7em  0.35em;
            }
            .bold {
                margin: 2px 0;
            }
            .button-close2{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                position: absolute;
                right: 25px;
                top: 25px;
                background-color: white;
                font-weight: bold;
                color: #999999;
            }
            .options-modal {
                display: flex;
                justify-content: center;
                font-weight: bold;
                button {
                    background: transparent;
                    .ico {
                        width: 60px;
                        height: 60px;
                        background: #339966;
                        border-radius: 100%;
                        display: block;
                        color: #fff;
                        font-size: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        content: '';
                        margin: 10px auto;
                    }
                    &.negative {
                        .ico {
                            background: #cc6666;
                        }
                    }
                }
            }
        }
    }
}