<div class="container-round">
    <div class="box">
       <button class="button-close2" (click)="close()"><ion-icon name="close"></ion-icon></button>
        <div (click)="compartilhar(conteudo, 'whatsappArquivo')" class="icon-social">
            <img src="../www/assets/imgs/social/whatsapp.jpg" alt="" width="40">
        </div>
        <div (click)="compartilhar(conteudo,'facebookArquivo')" class="icon-social">
            <img src="../www/assets/imgs/social/facebook.jpg" alt="" width="40">
        </div>
        <div (click)="compartilhar(conteudo,'twitterArquivo')" class="icon-social">
            <img src="../www/assets/imgs/social/twitter.jpg" alt="" width="40">
        </div>
        <div (click)="compartilhar(conteudo,'instagramArquivo')" class="icon-social">
            <img src="../www/assets/imgs/social/instagram.jpg" alt="" width="40">
        </div>
    </div>
</div>