page-material-institucional {
    .card-ios{
        margin: 12px 0!important;
        width: 100%;
        border-radius: 5px;
    }
    ion-infinite-scroll-content{
        min-height: 10px;
    }
}
