<ion-header color="header">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-center>Material de Campanha</ion-title>
      <ion-buttons end>
        <!-- <button (click)="searchToggle()" class="search-header">
        <ion-icon name="search"></ion-icon>
      </button> -->
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
    <section>
      <!-- <ion-scroll scrollX="true" class="scrolling-links tabs-links">
        <button class="item active">Todos</button>
        <button class="item">Santinhos</button>
        <button class="item">Cartazes</button>
        <button class="item">Flipetas</button>
      </ion-scroll> -->
      
      <div>
        <div class="wrapError" *ngIf="(listMaterial) == ''">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <p>Aguarde. Em breve estará disponível a agenda de eventos e encontros.</p>
        </div>
        <ion-card *ngFor="let material of listMaterial">
          <img src="{{material.Imagem}}"/>
          <ion-card-content>
            <ion-card-title>{{material.Titulo}}</ion-card-title>
            <p [innerHtml]= "material.SubTitulo"></p>
          </ion-card-content>
          <ion-row class="footer-card">
            <ion-col style="padding-right: 15%;">
              <button ion-button (click)="doDownload(material.Imagem)">Baixar</button>
            </ion-col>
            <ion-col>
              <button ion-button icon-right text-left clear small (click)="postShare(material)">
                <div text-right>Compartilhe e <br/> ganhe <strong>{{material.PontuacaoCompartilhamento}} pontos</strong></div>
                <!-- <ion-icon name="share"></ion-icon> -->
                <img src="assets/imgs/sharenot.png" style="width: 14%;
                margin-left: 6%;">
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>
  </ion-content>
  