<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Comites</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
        <ion-icon name="search"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="result">
  <iframe *ngIf="hasLatLng" frameborder="0" style="border:0;margin-top: 11%;" allowfullscreen class="map"
          [src]="googleMapsSrc"></iframe>
  <div padding>
    <ion-list class="list">
      <div ion-item *ngIf="result?.Endereco">
        <ion-icon name="pin" item-start></ion-icon>
        {{ result?.Endereco }}
      </div>
      <div ion-item *ngIf="result?.HorarioFuncionamento">
        <ion-icon name="time" item-start></ion-icon>
        {{ result?.HorarioFuncionamento }}
      </div>
      <div ion-item *ngIf="result?.Telefone ">
        <ion-icon name="phone-portrait" item-start></ion-icon>
        {{ result?.Telefone }}
      </div>
      <div ion-item *ngIf="result?.Email ">
        <ion-icon name="mail" item-start></ion-icon>
        {{ result?.Email }}
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-content *ngIf="!result">
  <p text-center>Carregando...</p>
</ion-content>
