page-comites-comites-detalhe {
    .map {
        width: 100%;
        height: 250px;
    }
    .list {
        .item-inner {
            font-size: 1.4rem;
            line-height: 2rem;
            padding-right: 15% !important;
            margin-left: 10px !important;
        }
        ion-icon {
            color: color($colors, primary);
            margin: 0 !important;
        }
        ion-label {
            white-space: initial !important;  
        }
    }
}
