page-home {
  .has-refresher > .scroll-content{
     background: #fff!important;
  }
  section {
    background: #fff;
  }

  .swiper-pagination-bullets{
    display: block!important;
  }

  .swiper-pagination-bullet{
    background: #fff;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active{
    background: #f8cd00!important;
  }

  .swiper-container{
    overflow: inherit;
  }
  

  .bannerItem{
    width: 100%;
    margin-bottom: 0%;
    background-size: 100%!important;
    height: inherit;
    position: relative;
    align-items: center;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -10% !important;
    top: inherit!important;
  }

  ion-content{
    background: #fff!important;
  }

  .segment-ios-primary .segment-button.segment-activated{
    background: transparent!important;
    color: #5aa0bd;
    border-bottom: 4px solid #5aa0bd!important;
  }
  .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated{
    background: transparent!important;
    color: #5aa0bd;
    border-bottom: 4px solid #5aa0bd!important;
  }

  .segment-md .segment-button, .segment-ios .segment-button{
    font-size: 1.5rem!important
  }
  .segment-button{
    border: 0!important;
    padding: 0 0 12% 0;
    font-size: 1.5rem!important
  }
  ion-segment {
    margin-bottom: 0;//20px;
    padding: 5% 0 0;
    background: #f3f3f3;
  }

  .segment-ios .segment-button {
    border-radius: 0 !important;
  }

  .scrolling-links {
    margin-bottom: 0;
    height: 45px;
  }

  .filter-box {
    .item-ios.item-block .item-inner {
      border-bottom: 0 none;
    }
    .select-ios {
      padding: 6px 8px 3px 6px;
    }
    .item-ios {
      border-radius: 10px;
    }
  }

  .list-cards {
    margin-top: 5px;
  }

  .tab-content {
    .card-ios {
      border-radius: 10px;
      width: 100%;
      margin: 12px 0;
    }
  }

  .noticias-tab-content {
    .card {
      margin-bottom: 25px;
    }
  }

  .scroll-content{
    background-color: #f3f3f3;
  }

  .list-cards .hour {
    width: 18%;
  }
}


