page-evento {
    .card-ios .row{
        flex-wrap: nowrap!important;
}

.list-cards .hour{
    min-height: 100%;
}
.card-ios{
    border-radius: 5px!important;
    width: 97%;
}
    .scroll-content{
         padding-top: 43px;
    }
    ion-slides {
        margin-top: 20px;
    }

    ion-slide {
        padding: 10px 40px 10px 5px;
    }

    .card-ios{
        margin: 12px 0;
    }

    .scroll-content
    .date-event {
        color: #797979;
    }
    .img-featured {
        padding-top: 0px;
      }
    .friends-event {
        background: #f1f1f1;
        padding: 15px;
        margin: 0 -17px;
        strong {
            display: block;
            font-size: 1.3rem;
        }
        .row-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }
        .list-friends {
            padding: 0;
            display: flex;
            flex-grow: 1;
            margin: 0;
            margin-right: 15px;
            li {
                list-style: none;
                position: relative;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 100%;
                ion-icon {
                    color: #339966;
                    position: absolute;
                    right: -2px;
                    bottom: 0;
                    z-index: 5;
                }
                img {
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                }
                &.count {
                    background: #328059;
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    color: #fff;
                    justify-content: center;
                }
            }
        }
    }
}

amigos-evento {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        background: #ffffff;
        border-radius: 10px;
        padding: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        h2 {
            font-weight: bold;
        }
        ion-list {
            overflow: auto;
        }
    }
    ion-avatar {
        position: relative;
        ion-icon {
            position: absolute;
            right: -2%;
            bottom: 0;
            color: #328059;
        }
    }
   
}