<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Evento</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="evento" style=" background: #fff!important;">
  
        <style>
          .scroll-content{
            background: #fafafa!important;
          }
         section, .scroll-content, .fixed-content, div {
      background: #fff!important;
      margin-top: -1%;
    }
    .vejaoutras{
            background:#fafafa!important;
        }
    .button-clear-ios {
        border-color: transparent;
        color: #bfbfbf!important;
        background-color: transparent;
    }
          
section{
  background:#fff!important;
}
.content-md, .content-ios{
  background: #fafafa!important;
}

    
            </style>
  <img [src]="evento.Imagem"  class="img-featured">
  <div>
    <header class="buttons-event" style="padding-left: 16px;
    padding-right: 16px;    padding-bottom: 39px;
    padding-top: 5px;">
      <ion-row>
        <ion-col text-left col-7 col-md-2>
          <div style="margin-top: 8px;">
     
          </div>
        </ion-col>
        <ion-col text-right col-5 col-md-2>
          <button ion-button icon-left clear small (click)="postLike(evento)" [ngClass]="{'liked': evento.JaCurtiu}" style="height: 15px;
          border-right: 1px solid #bfbfbf;
          border-radius: 0!important;">
          <ion-icon name="heart" [ngClass]="{'liked': evento.JaCurtiu}"></ion-icon>
          <!-- <ion-icon name="heart" *ngIf="evento.Curtidas > 0" style="color:#004f99"></ion-icon> -->
          <div [ngClass]="{'liked': evento.JaCurtiu}">{{evento.Curtidas}}</div>
          <!-- <div *ngIf="evento.Curtidas > 0" style="color:#004f99">{{evento.Curtidas}}</div> -->
          </button>
          <button class="share" ion-button icon-right text-left clear small (click)="postShare(evento)">
              <img src="assets/imgs/sharenot.png" class="imgshare" style="    width: 80%;
              margin-left: 16%;">

          </button>
        </ion-col>
      </ion-row>
    </header>
    <section style="padding:16px;    padding-top: 0;">
        <h4 class="bold">{{evento.Titulo}}</h4>

      <p class="date-event"><ion-icon name="calendar"></ion-icon> {{evento.DataBR}}<span *ngIf="evento.Hora">, às {{evento.Hora}}</span></p>
      <div class="block-text" margin-top >
        <p [innerHtml]="evento.Texto"></p>
        <p style="color: #797979"><ion-icon name="pin"></ion-icon> {{evento.Local}} </p>

      </div>
    </section>
    <section class="padding-section vejaoutras"  style="padding:16px;">
      <h5 class="bold">Veja outros eventos</h5>
      <ion-slides pager spaceBetween="-40" class="list-cards">
        <ion-slide *ngFor="let outro of outros">
          <ion-card (click)="openDetail('evento',outro.Id)">
            <div class="row">
              <div class="hour"> {{outro.Data | date: 'dd'}} <strong>{{outro.Data | date: 'MMM'}}</strong> <small *ngIf="outro.Hora">{{outro.Hora}}h</small> </div>
              <div class="col" text-left>
                <ion-card-content>
                  <ion-card-title>{{outro.Titulo}}</ion-card-title>
                  {{outro.Local}}

                  
                </ion-card-content>
              </div>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>

    </section>
  </div>
</ion-content>