<ion-menu [content]="content">
  <ion-header color="header">
    <ion-toolbar class="menu-header">
      <div class="container-profile" [hidden]="NoLogin">
        <div *ngIf="profile && profile.CaminhoFoto != ''" [style.backgroundImage]="'url(' + profile.CaminhoFoto + ')'" class="avatar"> </div>
          <div *ngIf="profile && profile.CaminhoFoto == ''" [style.backgroundImage]="'url(http://mypolis.com.br/images/avatar-list.png)'" class="avatar"> </div>
          <div class="info" style="color:#0276a9!important">
            <ion-title>
              <p *ngIf="profile" style="color:#0276a9!important; margin:0; width: 100%!important;">{{profile.Nome}}</p>
              <nav>
                <a menuClose (click)="openPagePush('perfil')">Meu Perfil</a>
                <a menuClose (click)="logoutApp()" class="logout">Sair</a>
              </nav>
            </ion-title>
            
        </div>
      </div>
      <div class="container-profile" *ngIf="NoLogin">

        <div class="info" style="color:#0276a9!important;
        margin: 0 auto;
       display: block;" >
          <ion-title>
            <p style="color:#0276a9!important; margin:0; ">
              <!-- Ainda não se cadastrou? -->
              <img src="assets/imgs/logoVoluntarios.png" class="logoVoluntariosMenu" alt="">
            </p>
          </ion-title>
        </div>
      </div>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <style>
      .list-ios>.item-block {
        border-radius: 0 !important;
        margin-bottom: 0 !important;
      }
      /* .iniciocss .pzin{

    margin-left: -14%!important;
      } */

      .item-ios {
        padding-left: 0;
      }
      /* ion-icon{
        font-size: 1.5em;
      } */
      .quero-contribuir{
        background:#ecc222;
        opacity: 190;
      }
      .quero-contribuir .item-inner{
        background-image:none!important;
      }
      .quero-contribuir p{
        color: #fff!important;
      }
      .badge-md-colorblue{
        background-color: #f0ce42;
      }
      .toolbar-title-md{
color:#0276a9!important;
/* width: 100%!important; */
      }
      .toolbar-title-ios{
        color:#0276a9!important;
        /* width: 100%!important; */
      }
      .badge-ios-colorblue{
        background-color: #f0ce42;
      }
    </style>
    <div style="background: #f9f9f9; text-align: center; padding: 11px 0;" *ngIf="NoLogin" >
        <button menuClose ion-button class="ButtonEfetueLogin" (click)="openPagePush('login')" >
            EFETUE SEU LOGIN
          </button>
    </div>
    <div class="points" padding  style="background:#f9f9f9;" [hidden]="NoLogin">
     
      <img *ngIf="profile && profile.Medalha" src="{{profile.Medalha.ImagemUrl}}" class="medalha">
      <div menuClose class="info" (click)="openPageHistorico()">
        <strong *ngIf="profile">{{profile.TotalPontos}} pontos</strong>
        <small *ngIf="profile && profile.Medalha" text-uppercase>{{profile.Medalha.Nome}}</small>
      </div>
    </div>
    <ion-list>
        <button menuClose ion-item  (click)="openinnap()" class="quero-contribuir">
            <ion-icon name="logo-usd" style="float: left;"></ion-icon> <p style="float: left;color:#333;
            ">Quero Contribuir </p><br>
            <p  class="pzin" style="float: left;
            margin-left: 10.5%;"><small style="    padding-left: 0;
            margin: 0;" ></small></p>
          </button>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="p.cssClass ? p.cssClass : ''" style="background: #fff;
      color: #333;">
        <ion-icon name="{{p.icon}}" style="float: left;"></ion-icon> <p style="float: left;color:#333;
        ">{{p.title}}</p><br>
        <p  class="pzin" style="float: left;
        margin-left: 10.5%;"><small style="    padding-left: 0;
        margin: 0;" >{{p.description}}</small></p>
        <ion-badge color="colorblue" *ngIf="count > 0 && p.notificationsNumber" item-end>{{count}}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

  <ion-footer class="socials">
    <ion-toolbar color="white">
      <div class="flex">
        <nav>
          <div href="#" target="_blank" (click)="CheckForApp('facebook')">
            <img src="assets/imgs/ico-facebook.svg">
          </div>
          <div href="#" target="_blank" (click)="CheckForApp('twitter')">
            <img src="assets/imgs/ico-twitter.svg">
          </div>
          <div href="#" target="_blank" (click)="CheckForApp('youtube')">
            <img src="assets/imgs/ico-youtube.svg">
          </div>
          <div href="#" target="_blank" (click)="CheckForApp('instagram')">
            <img src="assets/imgs/ico-instagram.svg">
          </div>
        </nav>
        <div href="#" class="signature" (click)="openinnap()" target="_blank" style="    width: 34%;">
          <img src="assets/imgs/logo-black.png">
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>