$fa-font-path: "../assets/fonts" !default; 
@import "font-awesome"; 
i[class^="fa-"], ion-icon[class^="fa-"] {    
   font-family: "FontAwesome" !important;
}

@font-face {
  font-family: 'QuickSand';
  font-style: normal;
  font-weight: 300;
  src: local('QuickSand-Light'), local('QuickSand-Light'), url("../assets/fonts/Quicksand-Light.ttf") format('woff2');
}

@font-face {
  font-family: 'QuickSand';
  font-style: normal;
  font-weight: 400;
  src: local('QuickSand-Regular'), local('QuickSand-Regular'), url("../assets/fonts/Quicksand-Regular.ttf") format('woff2');
}

@font-face {
  font-family: 'QuickSand';
  font-style: normal;
  font-weight: 600;
  src: local('QuickSand-Bold'), local('QuickSand-Bold'), url("../assets/fonts/Quicksand-Bold.ttf") format('woff2');
}



$gray: #bfbfbf;
$gray2: #666666;
$blue: #0276a9;
$yellow: #fbc200;
$bluelight: #0276a9;

.search-header {
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  min-width: 44px;
}

.toolbar-title-md {
  font-weight: 600;
  width:85%!important;
  font-size: 1.7rem;
  overflow: inherit;
  color: #fff;
}


.container-profile .info ion-title{
  position: relative;
  padding: 0;
}


.toolbar-title-ios{
  color: #fff;

}
.toolbar-md {
  min-height: 45px;
}


.segment-md .segment-button, .segment-ios .segment-button {
  text-transform: initial;
  font-weight: 600;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  color: $gray;
  font-size: 1.3rem !important;
  line-height: 1.2rem !important;
  ion-icon {
    margin: 0 5px;
    font-size: 1.6rem;
  }
}


.scrolling-links {
  width: 90vw;
  height: 50px;
  margin-bottom: 15px;
  &.list-links {
    padding: 0;
    .item {
      background: $blue;
      color: white;
      height: 50px;
      margin-right: 5px;
      padding: 5px 10px;
      width: 46%;
      display: inline-block;
      border-radius: 7px;
      white-space: initial;
      font-size: 1.1rem;
      line-height: 1.6rem;
      text-align: left;
      vertical-align: middle;
    }
  }
  &.tabs-links {
    padding: 0;
    .item {
      color: $gray;
      border-radius: 8px;
      background: #fff;
      padding: 8px 20px;
      font-weight: 700;
      font-size: 1.2rem;
      margin-right: 5px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
      transition:  all 0.4s ease;
      &.active {
        background: $blue;
        color: white;
      }
    }
  }
  .scroll-content {
    padding: 0 !important;
    white-space: nowrap;
  }
}


.yellow-color {
  color: $yellow;
  &.bold{
    font-weight: bold;
  }
}

.button-md {
  text-transform: none;
}


.note-md {
  font-weight: bold;
}

.footer-card {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 7px;
  ion-note {
    margin: 10px;
    display: block;
  }
  .col {
    display: flex;
    align-items: center;
  }
  .button {
    color: $gray;
    strong {
      color: $gray2;
      transition: all .4s ease;
    }
    ion-icon {
      transition: all .4s ease;
    }
    &.liked {
      color: $yellow;

      ion-icon {
        animation: liked .9s;
      }
    }
  }
}

@keyframes liked {
  0% {
    transform: scale(.8);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(.8);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}

ion-segment {
  background: #ffffff;
}

.card .note-md {
  margin-top: 10px;
  display: block;
}

.card-md {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0px 0 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  .card-title-md {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.3;
  }
  small {
    font-size: 1.2rem;
    font-weight: bold;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.card-md .item-md.item-block .item-inner {
  border-bottom: 1px solid #dedede;
}

.card-content-md {
  font-size: 1.2rem;
}

ion-select {
  max-width: 100%;
  flex-grow: 1;
  &.select-md {
    padding: 15px 4px 12px;
  }
}

.row {
  .col-12 {
    width: 100%;
    padding: 0 5px;
  }
  .filter-box {
    flex-grow: 1;
    margin: 5px;
  }
  &.filter {
    margin: 0 -5px;
  }
}

.list-cards {
  margin: 20px 0;
  .hour {
    color: #fff;
    background: color($colors, primary)!important;
    font-size: 1.8rem;
    padding: 15px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    strong {
      display: block;
      font-size: 1.6rem;
    }
    small {
      font-size: 1.4rem;
      display: block;
      margin-top: 8px;
    }
  }
}

.margin-menu{
  margin-top: 50px;
}

.title-blue {
  color: $blue;
  font-weight: 700;
}

.title-yellow {
  color: $yellow;
  font-weight: 700;
}

.title-white {
  color: #0276a9;
  font-weight: 700;
}
.subtitleblue{
  color: #0276a9!important;
    font-size: 1.1em!important;
}

.ico-general-button {
  margin-right: 5px;
  width: 11px;
  height: 19px;
  object-fit: cover;
}

.button-ios, .button-md {
  border-radius: 10px !important;
  box-shadow: none !important;
}

.block-text {
  p {
    font-size: 1em;
    line-height: 2rem;
    margin-top: 2px;
  }
}

a {
  text-decoration: none;
}



.item-md {
  padding: 0 !important;
  background: transparent;
  &.input-block-color {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    height: 4rem;
    min-height: 3.5rem;
    .item-inner {
      border: 0;
    }
  }
}

.link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  font-size: 1.5rem;
}

.button-full.button-outline {
  // border-right-width: 1px !important;
  // border-left-width: 1px !important;
}

.button-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  font-size: 1.5rem;
  color: white;
  background: $bluelight;
}

.button-bottom {
  position: relative;
  margin-top: 25px;
  @extend .button-fixed;
}

.toolbar-content-md {
  color: #ffffff;
}

.checkbox {
  ion-label {
    color: $gray2;
  }
  ion-checkbox {
    margin: 9px 0px !important;
    margin-right: 15px !important;
  }
}

.item-input {
  ion-label {
    font-weight: 600;
  }
}

.button-inner strong {
  // margin: 0 5px;
}

.container-stage {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  &.disabled {
    opacity: 0.3;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px;
    font-weight: 600;
    background: black;
    color: white;
    border-radius: 100%;
    flex-shrink: 0;
    text-align: center;
  }
  .text {
    p {
      margin: 0;
      font-size: 1.3rem;
    }
  }
}


.button-upload {
  display: flex;
  background: transparent;
  align-items: center;
  color: $gray;
  margin: 10px 0 45px;
  ion-icon {
    width: 90px;
    height: 90px;
    background: #538ec5;
    border-radius: 100%;
    color: white;
    line-height: 90px;
    font-size: 3rem;
    margin-right: 15px;
    flex-shrink: 0;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    strong {
      display: block;
    }
  }

}

.bold {
  font-weight: bold !important;
  margin: 10px 0;
}

.block {
  padding: 15px 0;
}

.label-md[floating] {
  text-transform: uppercase;
  font-weight: 600;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .set {
    font-size: 3rem;
    color: $gray2;
    margin-left: 10px;
  }
}

.button-close {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
}

ion-header {
  overflow: hidden;
}

ion-menu {
  .item-inner {
    padding-left: 15px !important;
    small {
      display: block;
      padding-left: 33px;
      font-size: 1.1rem;
    }
  }
  .socials {
    padding: 5px 10px 0px;
    background: #f0f0f0;
  }
}

.img-featured {
  width: 100%;
}

.buttons-event {
  //display: flex;
  //justify-content: flex-start;
  text-align: left;
  border-bottom: 2px solid #fafafa;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 10px;
  height: 28px;
  .buttons{
    float: right;
  }
  .share {
    border-radius: 0 !important;
    padding: 0;
  }
  .date {
    position: absolute;
    left: 0;
    top: 15%;
    font-size: 1.3rem;
    color: #bfbfbf;
    bottom: 0;
    font-weight: 600;
    margin: auto;
    padding-left: 0px;
  }
}

.buttons-event {
  &.right {
    text-align: right;
  }
  &.grey {
    button.liked, button.share {
      color: #9c9c9c;
    }
  }
}

.backward {
  &.bar-buttons-md, ion-buttons, .bar-button-menutoggle {
    order: 0;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    font-size: 2rem;
  }
}

//Menu


.has-refresher > .scroll-content { background-color: #f3f3f3 !important; }
.menu-inner {
  .menu-header {
    min-height: 90px;
    .container-profile {
      display: flex;
      padding: 10px;
      box-sizing: border-box;
      align-items: center;
      .avatar {
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
      nav {
        display: flex;
        margin-left: 5px;
        a {
          display: inline-block;
          height: 25px;
          border-radius: 30px;
          background: #3173a0;
          color: #fff;
          text-decoration: none;
          line-height: 25px;
          min-width: 75px;
          margin: 10px 3px 0;
          font-size: 1.2rem;
          font-weight: 600;
          flex-grow: 1;
          text-align: center;
          &.logout {
            background: #ECC222;
          }
        }
      }
    }
    .toolbar-background {
      background: url(../assets/imgs/bg-menu.png) no-repeat top left;
      background-size: cover;
    }
  }

  

  .points {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    ion-icon {
      color: color($colors, secondary);
      font-size: 2rem;
    }
    .info {
      font-size: 1.6rem;
      margin-left: 10px;
      strong {
        display: block;
      }
    }
    .medalha {
width: 30px;
border-radius: 50%;
    }
  }
  .item-block, .item-md {
    color: #3d3d3d;
    font-weight: 600;
    opacity: 0.8;
    font-size: 1.5rem;
    .item-inner {
      border-bottom: 1px solid rgba(0,0,0,0.05);
      ion-icon {
        margin-right: 15px;
      }
    }
  }
  .socials {
    .toolbar-background {
      border: 0 !important;
      background: transparent;
    }
    &:before {
      display: none;
    }
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a:not(.signature) {
        img {
          width: 21px;
          height: 21px;
          object-fit: cover;
          image-rendering: crisp-edges;
        }
      }
    }
    nav {
      display: flex;
      &::after{
        clear: both;
        display: block;
        content: '';
      }
      div {
        margin-right: 5px;
        text-decoration: none;
        img{
          width: 21px;
          height: 21px;
          object-fit: cover;
          image-rendering: crisp-edges;
        }
      }
    }
  }
}


.label-md[stacked] {
  padding: 5px 0;
}

ion-badge {
  padding: 0;
  min-width: 28px;
  line-height: 28px;
}

.card-title-md {
  padding: 2px 0;
}
.card-title-ios{
  font-weight: bold;
}

.button-effect {
  display: none !important;
}

.flag-green {
  width: 100%;
  color: #ffffff;
  background: #30a357;
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.footer-md::before {
  display: none !important;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
  top: 75%!important;

}
.title-yellow{
  color: #efcf25;
  text-transform: uppercase;
  font-weight: 700;
}
// .slide-zoom{
//   margin-top: -15%!important;
// }
.padding-section {
  padding-top: 25px;
  padding-bottom: 10px;
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
    top: 79%!important;
  }
}
.btntuto{
  margin-top: 25%;
    width: 70%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px 10px 10px 10px;
    height: 43px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}
section, .scroll-content {
  background: #f3f3f3;
}
// .toolbar-background-ios{
//   background: #0276a9!important;
// }
// .toolbar-background-md{
//   background: #0276a9!important;
// }
.bar-button-menutoggle, .back-button-md, .bar-buttons-md {
  margin: 0 auto !important;
}

h4 {
  font-size: 1.7rem;
}

.button {
  margin: 0;
}

.brand {
  width: 125px;
  height: auto;
}
.imgvp{

      margin: 0px!important;
    width: 70%!important;
    margin-bottom: 20px!important;
}

.action-sheet-md {
  .action-sheet-title {
    font-weight: bold;
  }
  .action-sheet-button {
    &.action-sheet-cancel {
      background: #e9e9e9;
    }
  }
}



h2 {
  font-size: 2rem;
}

.button-clear-md {
  color:#bfbfbf!important;
  &.liked {
    color: $yellow;
  }
}
.alertcss img{
  width: 7%;
  position: absolute;
  left: 76px;
  top: 21px;

}
.alert-md .alert-title{
  margin-top:-1.2%!important;
  text-transform:uppercase;
  font-size: 17px;
  font-weight: 600;
  // margin-left: 39%!important;

}
.alert-ios .alert-title{
  margin-top:4%!important;

  text-transform:uppercase;
  font-size: 17px;
  font-weight: 600;
}
// .alert-ios .alert-title img{
//   top: 10px!important;
// }
.alert-ios .alertcss img{
  width: 7%;
  position: absolute;
  left: 23px;
  top: 21px;
}
.alert-md .alertcss img{
  width: 7%;
  position: absolute;
  left: 23px;
  top: 21px;

}

.alert-md .alert-button{
  background: #0276a9 !important;
  color: #fff !important;
  width: 100%;
  border-top:1px solid #fff;
  text-align: center;
  margin: 0;
  border-radius: 0;
}

.alert-ios .alert-button{
  border-top:1px solid #fff;

  background: #0276a9!important;
  color: #fff!important;
}

ion-input, ion-textarea, .select-text {
  font-size: 1.4rem;
}

.button-md {
  font-size: 1.3rem;
  font-weight: 600;
}

.label-md[stacked] {
  font-weight: 600;
}

.label-ios[stacked] {
  min-height: 1.2rem
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  display: none;
}

a[disabled], button[disabled], [ion-button][disabled] {
  opacity: .7;
  transition: opacity 0.5s ease;
}

.action-sheet-container {
  align-items: center;
  justify-content: center;
  background: rgba(255, 255,255,0.95);
  .action-sheet-group {
    background: transparent !important;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 6%;
    flex-wrap: wrap;
    .action-sheet-button {
      width: 48%;
      box-sizing: border-box;
      padding: 2%;
    }
    &.action-sheet-group-cancel {
      position: absolute;
      bottom: 0;
      right: 5px;
      .action-sheet-button.action-sheet-cancel {
        background: transparent;
        width: auto;
        overflow: visible;
        .action-sheet-icon {
          width: 40px;
          height: 40px;
          background: color($colors, basegreen);
          line-height: 40px;
          color: #fff;
          font-size: 18px;
        }
      }
    }
    .button-inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.4;
      font-weight: bold;
      .action-sheet-icon {
        margin: 15px auto !important;
        width: 70px;
        height: 70px;
        background: white;
        line-height: 70px;
        font-size: 30px;
        border-radius: 100%;
        font-weight: bold;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
        color: color($colors, primary);
      }
    }
  }
}

.iniciocss{
  .pzin{
    margin-left: 14%!important;
  }
}
// .programacss{
//   .pzin{
//     margin-left: 15%!important;

//   }
// }

.quero-contribuir {
  .item-inner {
    background: #ECC222;
    color: #fff;
    background-image:none!important;
  }

}
.materialcss{
  .pzin{
    margin-left: 15%!important;
  }
}

.alert-md .alert-title {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 600;
  
}

.alert-md .alert-sub-title {
  font-size: 14px;
  color: #666;
}
.alert-md .alert-button .button-inner {
  text-align: center!important;
  font-weight: bold!important;
  justify-content: center!important;
  text-transform: none;
}
.alert-md .alert-wrapper {
  border-radius: 13px;
  overflow: hidden;
  max-width: 270px;
  background-color: #f8f8f8;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.alert-md .alert-sub-title {
  font-size: 14px;
}
.alert-md .alert-button-group{
  padding: 0!important;
}
.alert-md .alertcss img{
  width: 7%;
  position: absolute;
  left: 23px;
  top: 22px;
}

.progress {
  margin: 0 px;
  height: 8 px;
  background-color: #F1292B!important;
  border-radius: 2 px;
  box-shadow: 0 2 px 5 px rgba(0, 0, 0, 0.25) inset;
}


@media(max-width:320px){
  .iniciocss .pzin {
    margin-left: 13.8% !important;
}
.pzin{
  margin-left: 14.5% !important;
}
.materialcss .pzin {
  margin-left: 15% !important;
}
}


@media(min-width:330px){
  .pzin{
    margin-left: 11%;
  }
  .iniciocss{
  .pzin{
    margin-left: -12.5%!important;
  }
  .programacss{
    .pzin{
      margin-left: 10.2%!important;
  
    }
  }
  .quero-contribuir{
    .pzin{
      margin-top: -1.1%!important;
    }

  ion-icon{
    margin-top: 0.9% !important;

  }
  }
  }
  .materialcss{
    .pzin{
      margin-left: 11%!important;
    }
  }

}

.wrapError{
  width: 100%;
  margin: 10% 0;
  text-align: center;
  i{
    font-size: 7em;
    color: #ccc;
    margin-bottom: 5%;
  }
  p{
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 0 0;
    font-weight: 600;
  }
}
ion-card{
  margin-bottom: 3%!important;
}
.item-ios{
  background: none;
}

.alertLoginClass{
  .alert-wrapper{
    background: #3b944b;
    max-width: 315px;
    padding-top: 10px;
    .alert-head{
      text-align: center;
      .alert-title{
        color: #efcf25;
        font-size: 2.2rem;
        margin-bottom: 20px;
        text-transform: none;
      }
      .alert-sub-title{
        color: #fff;
        font-size: 1.4rem;
        width: 65%;
        margin: 0 auto;
      }
    }
    .alert-button-group{
      width: 85%;
      margin: 0 auto;
      .alert-button{
        border-radius: 6px;
        border-top: 0;
        margin-bottom: 20px;
        font-weight: bold;
        border-right: 0;
        text-transform: uppercase;
        font-size: 1.6rem;
        padding: 15px;
        &:nth-child(2){
          position: absolute;
          background: transparent;
          top: -5px;
          right: 0;
          width: 10%;
          background: transparent!important;
          &.alert-button-ios{
            right: -49px;
            
          }
        }
      }
    }
  }
}

.container-profile .info {
  display: flex;
  flex-direction: column;
  width: 75%!important;
}

.container-profile .info .title-md .toolbar-title-md{
    width: 100%!important;
    margin-bottom: 10px;
}

.container-profile .info .title-ios {
  align-items: flex-end;
  padding-bottom: 4%;
}
.container-profile .info .title-ios .toolbar-title-ios{
  text-align: left;
  padding-left: 6%;
  margin-bottom: 0px;
}
.menu-inner .menu-header .container-profile nav{
  position: relative;
  // top: -24px;
  margin-left: 0;
}
.menu-inner .menu-header .container-profile nav a{
  margin: 0px 3px 3px 0;
  position: relative;
  top: 0px;
}
.logoVoluntariosMenu{
  width: 80%;
  margin: 0 auto;
  display: block;
}

.ButtonEfetueLogin{
  width: 90%;
  padding: 22px ;

  font-weight: bold;
  border-radius: 11px!important;
  font-size: 1.5rem;
}