page-programa-pontos {
    .card-ios{
        margin: 12px 0!important;
        border-radius: 5px;
        width: 100%;
    }
    ion-segment {
        &.wrap {
            ion-segment-button {
                overflow: visible;
                white-space: initial;
                line-height: 1.8rem !important;
                font-size: 1.6rem !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .information-user {
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
        background: #73889c;
        div {
            width: 50%;
            padding: 15 px;
            box-sizing: border-box;
            &:first-child {
                border-right: 2px solid rgba(0, 0, 0, 0.1);
            }
            p {
                margin: 5px 0 0;
                font-size: 1.3rem;
            }
        }
    }
    .set {
        color: color($colors, primary) !important;
        margin-right: 15px;
    }
    .button {
        margin-top: 10px;
    }
    .box-round {
        padding: 16px;
        margin: 25px 0;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        header {
            text-transform: uppercase;
            color: color($colors, primary);
            font-weight: bold;
            margin: 5px 0;
        }
        .list-md {
            margin: 0;
        }
        ion-item {
            .item-inner {
                margin-left: 0px !important; 
                overflow: visible;
                padding: 0 !important;
                small {
                    font-size: 1.4rem;
                    color: #bbbaba;
                    font-weight: bold;
                }
                .input-wrapper{
                    overflow: visible;
                }
                ion-label {
                    padding: 5px 0;
                    overflow: visible;
                }
            }
            h3 {
                font-weight: bold;
            }
            .plus {
                color: color($colors, primary);
                font-weight: 600;
                font-size: 1.6rem;
            }
            ion-icon {
                color: gray;
                font-size: 2.4rem !important;
                margin-right: 5px !important;
            }
        }
    }
    
    .item-md {
        padding: 5px 0 !important;
        border: 0!important;
    }
    .list-md .item-block .item-inner{
        // border-bottom: 1px solid rgba(200, 199, 204, 0.31)!important;
    }

    ion-item {
        padding-left: 0!important;
        border-top: 1px solid rgba(200, 199, 204, 0.31)!important;
        border-radius: 0!important;
    }

    .list-ios > .item-block{
        margin-bottom: 0;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
        border-bottom: 0;
    }

    .flexTitle{
        display: flex;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            margin-right: 5%;
        }
    }
}
