page-notificacoes-notificacoes-detalhe {
    .padding-border-top {
        border-top: 1px solid #e9e9e9;
        padding-top: 15px;
        margin-top: 15px;
        p {
            margin-top: 10px;
        }
    }
    .card-ios{
        margin: 12px 0;
        width: 100%;
        border-radius: 5px!important

    }
}
